<h1>Astronauts</h1>
  <p><% @astronauts.average_age %></p>

  <section><% @astronauts.each do |astronaut| %>
    <h2><%= astronaut.name%></h2>
    <p><%= astronaut.age%></p>
    <p><%= astronaut.job%></p>
    <% end %>
  </section>
